# Default ignored files
/shelf/
/workspace.xml
config/*
launch.json
code/__pycache__/*
.idea
config*
data*
stat*
.DS_Store
.github_token
*.mp4
etc/conda/activate.d/env_vars.sh
etc/conda/deactivate.d/env_vars.sh
*.csq
data/*
TVT_data/*
cock_miyagawa/*
.vscode
