[Desktop Entry]
Name=TVT
Comment=Thermal Video Tracking
Exec=sh -c "\$HOME/TVT/boot_TVT.sh"
Icon=/home/hika/TVT/TVT_icon.png
Terminal=true
Type=Application
